*{
    box-sizing: border-box;
}
body{
    margin:30px;
}
.container {
    width: 1170px;
    margin: 0 auto;
}


.clearfix {
    clear: both;
}

[class*="col-"] {
    float: left;
}

.color1 {
    height: auto;
    
}

.color2 {
    height: auto;
   
}

.color3 {
    height: auto;
    
}

.color4 {
    height: 300px;
    
}

.color5 {
    height: 300px;
    
}

.color6 {
    height:300px;
    
}

.col-1 {
    width: 8.33%;
    
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
nav{
    width: 100%;
    background: #4A80FF;
    
}

.p{
    font-size: 18px;
    margin: 17px;
    font-family: "Segoe UI",Arial,sans-serif;
}
.h1{
    font-size: 40px;
    margin: 12px;
    font-family: "Segoe UI",Arial,sans-serif;
    text-align: justify;
    
}
.row{
    margin: 47px 0px;
}
.img1{
    width: 100%;
    height: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 1px;
    border-radius: 26px;
    position: relative;
    
}
.img2{
    width: 100%;
    height: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 1px;
    border-radius: 26px;
    
}
.img3{
    width: 100%;
    height: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 1px;
    border-radius: 26px;   
}

 .yaziust1{
    font-family: "Segoe UI",Arial,sans-serif;
    text-align: justify;
    font-size: 30px;
    background-color:#3146C7;
    color: white;
    position: absolute;
    left: 183px;
    bottom: 200px;
    padding: 8px;
    border-radius: 16px;

    
}

.yazialt1{
    font-family: "Segoe UI",Arial,sans-serif;
    text-align: justify;
    position: absolute;
    left: 180px;
    bottom: 160px;
    padding: 8px;
    font-size: 30px;
    color: white;
    
}
.yazialt2{
    font-family: "Segoe UI",Arial,sans-serif;
    text-align: justify;
    position: absolute;
    left: 573px;
    bottom: 160px;
    padding: 8px;
    font-size: 30px;
    color: white;
    
}
.yaziust2{
    font-family: "Segoe UI",Arial,sans-serif;
    text-align: justify;
    font-size: 30px;
    background-color:#3146C7;
    color: white;
    position: absolute;
    left: 576px;
    bottom: 200px;
    padding: 8px;
    font-size: 30px;
    border-radius: 16px;
    
}
.yaziust3{
    font-family: "Segoe UI",Arial,sans-serif;
    text-align: justify;
    font-size: 30px;
    background-color:#3146C7;
    color: white;
    position: absolute;
    left: 980px;
    bottom: 200px;
    padding: 8px;
    border-radius: 16px;
}
.yazialt3{
    font-family: "Segoe UI",Arial,sans-serif;
    text-align: justify;
    position: absolute;
    left: 980px;
    bottom: 160px;
    padding: 8px;
    font-size: 30px;
    color: white;
    
    
}
.awesome{
    font-family: 'Anton', sans-serif;
}